.bloco--contato{
    background-color: #fff;

    width: 90%;
    max-width: 1000px;

    margin: 4rem auto 0 auto;

    border-radius: 50px 50px 0 0;
}
.container__contato{
    padding: 3rem 0;
    text-align: center;
}

.contato__titulo h1{
    font-size: var(--titulo);
}

.contato__conteudo{
    margin-top: 1.5rem;
}

.info__blocos{
    padding: 2rem 0;
}

.info__bloco h3, .linkedin__conteudo a{
    font-size: 2.3rem;
}

.info__bloco{
    margin-bottom: 2rem;
}
.info__basica{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__basica span{
    margin-right: 1rem;
}

.icone--telefone{
    background-image: url('../../img/icones/call_black_24dp.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icone--email{
    background-image: url('../../img/icones/email_black_24dp.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.info__bloco p{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.info--linkedin a{
    text-decoration: none;
    color: var(--preto);
}


@media(min-width:380px){
    .info__bloco p{
        font-size: 2rem;
    }
}
@media(min-width: 1000px){
    .contato__conteudo{
        margin-top: 4rem;
    }
    .conteudo__info{    
        padding: 2rem 0;
    }

    .info__blocos{
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .info__bloco{
        width: 33%;
    }
}

@media(min-width: 1300px){
    .conteudo__info{
        justify-content: space-evenly;
    }
}